
<h1><%= @event.title %></h1>
<p>Category: <%= link_to @event.category.name, category_path(@event.category) %></p>

<p><%= @event.description %></p>
<p>Hosted by: <%= @event.user.name %></p>

<h4>Location:</h4>
<p><%= link_to @event.venue.name, venue_path(@event.venue) %></p>
<p><%= @event.venue.address %></p>

<h4>Date</h4>
<p><%= @event.event_date.strftime("%A %-d %B %Y") %></p>

<h4>Time</h4>
<p><%= @event.event_time.strftime("%H:%M") %></p>


<div>
<% if @event.event_in_future? && @event.user.id == session[:user_id] %>
    <p>This is your event!</p>
    <%= link_to "Edit this event", edit_event_path %>    
<% elsif @event.event_in_future? && @event.users.find_by(id: session[:user_id]) %>
    <p>You're going to this event!</p>
<% elsif @event.event_in_future? && @event.user.id != @current_user.id %>
   <%= button_to 'Attend this event', {:controller => "event_attendees", :action => "create", :event_id => @event.id, :user_id=> session[:user_id]}, :method=>:post  %>
<% elsif !@event.event_in_future? && @event.users.find_by(id: session[:user_id]) %>
    <p>We hope you enjoyed attending!</p>
   <%= link_to "Leave a review about this event", new_review_path %>
   <%= link_to "Read other reviews about this event", reviews_path %>
<% elsif !@event.event_in_future? %>
    <p>This event has passed</p>
    <%= link_to "Read reviews about this event", reviews_path %>
<% else %>
    :)
<% end %>

</div>


