
<h1><%= @event.title %></h1>
<p>Category: <%= link_to @event.category.name, category_path(@event.category) %></p>

<p><%= @event.description %></p>
<p>Hosted by: <%= @event.user.name %></p>

<h4>Location:</h4>
<p><%= link_to @event.venue.name, venue_path(@event.venue) %></p>
<p><%= @event.venue.address %></p>

<h4>Date</h4>
<p><%= @event.event_date.strftime("%A %-d %B %Y") %></p>

<h4>Time</h4>
<p><%= @event.event_time.strftime("%H:%M") %></p>

<br>

<% if @event.user.id == session[:user_id] %>
    <p>This is your event!</p>
    <%= link_to "Edit this event", edit_event_path %>
<% elsif @event.users.include?(session[:user_id]) %>
    <p>You're going to this event!</p>
    Cancel attendance
<% else %>
    <%= button_to 'Attend this event', {:controller => "event_attendees", :action => "create", :event_id => @event.id, :user_id=> session[:user_id]} , :method=>:post  %>
<% end %>

<%= @event.users.include?(@current_user) %>
<%= @event.event_in_future? %>
<%= @event.attendance? %>


<br><br><br><br>

This event belongs to you (you are the host) && this event is in the future
LINK EDIT EVENT

This event is in the future && you are attending
YOU'RE GOING TO THIS EVENT

This event is in the future && you are neither the host or attending
BUTTON ATTEND THIS EVENT

This event is in the past && you are the host
READ REVIEWS

This event is oin the past && you are not the host
READ REVIEWS | LEAVE A REVIEW



<%= link_to "Leave a review about this event", new_review_path %>