<h1>Sign up to BetterThanTelly</h1>

<ul>
<%= form_for(@user) do |f| %>
     <li>Name: <%= f.text_field :name %></li>
     <li>Email: <%= f.email_field :email %></li>
     <li>Password: <%= f.password_field :password %></li>
     <li>Confirm your password: <%= f.password_field :password_confirmation %></li>
     <%= f.submit %>
<% end %>
  </ul>

  <h3>Already have an account?</h3>
  <p><%= link_to "Sign in!", login_path %></p>