<h1>Welcome to your user homepage, <%= @user.name %></h1>



<%= link_to "Edit your account", edit_user_path(@user) %>

<h4>Future Events you are going to</h4>

<ul>
<% if @future_events == []  %>
    <li> <p>You're not going to any events. <%= link_to "Find something to attend!", events_path %></p></li> 
<% else %>
            <% @future_events.each do |event|  %>
            <li><%= link_to event.title, event_path(event) %></li>
            <% end %>
<% end %>
</ul>


<h4>Future Events you are hosting</h4>
<ul>
<% if @hosting_future == []  %>
    <li> You're not hosting any events. <%= link_to "Host an event!", new_event_path %></li> 
<% else %>
            <% @hosting_future.each do |event|  %>
            <li><%= link_to event.title, event_path(event) %></li>
            <% end %>
<% end %>
</ul>


<hr>
<h4>Past events you have attended</h4>
<ul>
<% if @past_events == []  %>
    <li>You have not attended any events.</li> 
<% else %>
            <% @past_events.each do |event|  %>
            <li><%= link_to event, event_path(event) %></li>
            <% end %>
<% end %>
</ul>


<h4>Past events you have hosted</h4>
<ul>
<% if @hosting_past == []  %>
    <li>You have not hosted any events</li> 
<% else %>
            <% @hosting_past.each do |event|  %>
            <li><%= link_to event.title, event_path(event) %></li>
            <% end %>
<% end %>
</ul>

<hr>
<h4>Recommended events for you</h4>






