<h1>Write a review</h1>

<% if !logged_in? %>
Please <%= link_to "log in", login_path %> to create an event
<% else %>

<% if @attended_events == []  %>
  <h4>You cannot write a review without attending any events!</h4>
<% else %>
<ul>
    <%= form_for(@review) do |f| %>
    <%= f.hidden_field :user_id, :value=> session[:user_id] %>
      <li> <p><%=f.label :event_id %></p></li>
        <%=f.collection_select :event_id, @user.get_past_events, :id, :title %>

      <!-- f.select :event_id, @attended_events.title-->

      <li> <p> <%= f.label :title %></p>
        <%= f.text_field :title %>  </li>

      <li> <p><%= f.label :content %> </p>
        <%= f.text_area :content %> </li> 

     <li> <p> <%= f.label :rating %> </p> 
        <%= f.select :rating, @rating_range %></li>
         

    <p><%= f.submit %></p>
    

<% end %>
  </ul>
<% end %>

  
<% end %>
  