<div class="row">
  <div class="col-12">
  <h1>Make a new Venue</h1>
  </div>
</div>

<div class="flex-container">
<%= form_for(@venue) do |f| %>
    <p><%= f.label :name %>
    <%= f.text_field :name  %> </p>

    <p><%= f.label :address %>
    <%= f.text_field :address %></p>

    <%= f.submit %>
<% end %>

  
  <% flash.each do |name, messages| %>
  <div class="flash-errors">

  <ul>
  <% messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>

  </div>
<% end %>