<div class="row">
    <div class="col-12">
        <h1>Log in </h1>
    </div>
</div>



<div class="flex-container">
<%= form_tag login_path do %>
<p>email: <%= text_field_tag :email %></p>
<p>password: <%= password_field_tag :password %></p>
<%= submit_tag "Log in" %>
<% end %>
</div>



<div class="flex-container">
<h4>Don't have an account?</h4>
<p><%= link_to "Sign up!", new_user_path,
     { :class=>"buttonlink" } %></p>
</div>
